@layer animations {
  @media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }

    :is(button,
      [type="submit"],
      [type="reset"],
      [type="button"],
      a.button)[data-loading]::after {
      animation-duration: 2s;
    }
  }

  @keyframes mk-spin {
    to {
      rotate: 360deg;
    }
  }
}
