@layer component {
  [data-card] {
    padding: var(--mk-space-6);

    color: var(--mk-color-card-fg);
    background-color: var(--mk-color-card);

    border: 1px solid var(--mk-color-border);
    border-radius: var(--mk-radius-md);

    box-shadow: var(--mk-shadow-sm);

    > header {
      margin-block-end: var(--mk-space-4);
    }

    > footer {
      margin-block-start: var(--mk-space-4);
    }

    > :last-child {
      margin-block-end: 0;
    }

    &[data-style="flat"] {
      box-shadow: none;
    }

    &[data-style="outline"] {
      background-color: transparent;
    }
  }
}
