@layer component {
  :root {
    --mk-grid-gap: var(--mk-space-4);

    --mk-container-sm: 40rem;
    --mk-container-md: 64rem;
    --mk-container-lg: 80rem;

    --mk-container-padding: var(--mk-space-4);
  }

  main {
    padding-block-start: var(--mk-space-8);
  }

  .container {
    inline-size: 100%;
    max-inline-size: var(--mk-container-lg);
    margin-inline: auto;
    padding-inline: var(--mk-container-padding);
  }

  .row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--mk-grid-gap);
  }

  .col {
    grid-column: span 12;
  }

  .col-1 {
    grid-column: span 1;
  }

  .col-2 {
    grid-column: span 2;
  }

  .col-3 {
    grid-column: span 3;
  }

  .col-4 {
    grid-column: span 4;
  }

  .col-5 {
    grid-column: span 5;
  }

  .col-6 {
    grid-column: span 6;
  }

  .col-7 {
    grid-column: span 7;
  }

  .col-8 {
    grid-column: span 8;
  }

  .col-9 {
    grid-column: span 9;
  }

  .col-10 {
    grid-column: span 10;
  }

  .col-11 {
    grid-column: span 11;
  }

  .col-12 {
    grid-column: span 12;
  }

  @media (width <= 768px) {
    :is(
      .col,
      .col-1,
      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-11,
      .col-12
    ) {
      grid-column: span 12;
    }
  }
}
