@layer component {
  [aria-busy="true"] {
    --_size: 1.5rem;
    --_border-width: 2px;

    position: relative;

    &::before {
      content: "";

      display: inline-block;

      inline-size: var(--_size);
      block-size: var(--_size);

      border: var(--_border-width) solid var(--mk-color-muted);
      border-block-start-color: var(--mk-color-primary);

      border-radius: var(--mk-radius-full);

      animation: mk-spin 1s linear infinite;
    }

    &[data-size="sm"] {
      --_size: 1rem;
    }

    &[data-size="lg"] {
      --_size: 2rem;
      --_border-width: 3px;
    }

    &[data-variant="overlay"] {
      pointer-events: none;

      > * {
        opacity: 0.3;
      }

      &::before {
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 1;
      }
    }
  }
}
